<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eduMitra - Home page</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            
        }
        body{
            
            color: rgb(255, 140, 0);
        }
        nav{
            background-color: rgb(73, 42, 42);
            color: #ffffff;
            padding: 1em;
        }
    </style>
</head>
<body>
    <nav>
        <h2>eduMitra</h2>
    </nav>
    <div>
        <h1>Welcome to eduMitra</h1>
        <p>This is eduMitra. Here You can colaborate with other learners and experienced teachers.</p>
    </div>
</body>
</html>